* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	min-height: 100%;
	background: #edf6ff;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
	width: 100%;
	display: flex;
	align-items: center;
	background: #f6f6f2;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.logo {
	margin-left: 24px;
	margin-right: 34px;
	font-size: 40px;
	color: #000C66;
}

nav ul {
	display: flex;
	align-items: center;
}

nav ul li {
	list-style: none;
	margin: 20px 40px;
}

nav ul li a {
	/* padding: 2px 10px; */
	color: rgb(19, 15, 51);
	cursor: pointer;
	transition: .5s;
	text-decoration: none;

}

nav ul li a:hover {
	color: #003B73;
	border-radius: 5px;
	padding: 5px;
	background-color: #BFD7ED;
}

.get-started {
	margin-left: 800px;
	padding: 5px 20px;
	border: 2px solid #003B73;
	border-radius: 20px;
	text-decoration: none;
	transition: .5s;
	background-color: #fff;
	color: rgb(19, 15, 51);
}

.get-started:hover {
	color: #003B73;
	background: #BFD7ED;
}

.head-container {
	margin-top: 12%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.quote {
	width: 600px;
	transform: translateY(-50px);
}

.quote p {
	font-size: 50px;
	color: #050A30;
}

.quote h3 {
	/* font-size: 50px; */
	margin-top: 35px;
	color: #003B73;
	line-height: 20px;
}

.svg-image img {
	width: 800px;
	filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.4));
}

.InfoCardArrow {
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center
}

.InfoCardArrow--right {
	margin-right: 8px
}

.InfoCardArrow--left,
.InfoCardArrow--right {
	width: 25px;
	height: 25px;
	background-color: #dbdbdb;
	border-radius: 50%;
	z-index: 99;
	cursor: pointer
}

.TopStrip {
	text-align: center;
	margin-left: -16px;
	margin-right: -16px;
	background: #fdf6fb;
	padding: 8px 15px;
	min-height: 53px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center
}

@media(min-width:600px) {
	.TopStrip {
		margin-left: -24px;
		margin-right: -24px
	}
}

@media(min-width:960px) {
	.TopStrip {
		margin-left: -24px;
		margin-right: -30px
	}
}

@media(max-width:1279.98px) {
	.TopStrip {
		margin-top: 1px
	}
}

@media(max-width:959.98px) {
	.TopStrip {
		margin-top: 7px
	}
}

@media(max-width:599.98px)and (min-width:311.98px) {
	.TopStrip {
		margin-top: -1px
	}
}

@media(max-width:310.98px) {
	.TopStrip {
		margin-top: -1px
	}
}

.TopStrip span {
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
	display: inline-block
}

.TopStripText {
	margin-right: 24px;
	display: inline-block
}

@media(max-width:575.98px) {
	.TopStripText {
		margin-right: 0;
		margin-bottom: 5px;
		font-size: 15px;
		display: block
	}
}

.TopStrip a {
	background: #703073;
	border-radius: 4px;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 20px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
	display: inline-block
}

.TopStrip a,
.TopStrip a:active,
.TopStrip a:focus {
	text-decoration: none
}

.TopStrip br {
	display: none
}

@media(max-width:399.98px) {
	.TopStrip br {
		display: block
	}
}

.popupCardContaiener {
	padding: 40px;
	text-align: center
}

.popupCardContaiener .header {
	font-family: RobotoBold;
	color: #333;
	font-size: 20px;
	margin-bottom: 12px
}

.popupCardContaiener .img--Container {
	padding: 0;
	width: 100%;
	margin: 35px 0 5px;
	img-width: 20px
}

.popupCardContaiener .text {
	font-size: 14px;
	color: #666;
	line-height: 21px;
	font-family: RobotoRegular
}

.popupCardContaiener .center-block {
	font-weight: 700;
	font-size: 14px;
	margin: 15px 0 5px
}

.popupCardContaiener .center-block .distance {
	color: #792877;
	margin-left: 5px
}

.popupCardContaiener .btn {
	display: -ms-flexbox;
	display: flex;
	gap: 10px;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 40px
}

.popupCardContaiener .btn .btn-primary {
	color: #fff;
	background-color: #792877
}

.popupCardContaiener .btn .btn-primary,
.popupCardContaiener .btn .btn-secondary {
	font-size: 14px;
	font-family: Gotham-Medium;
	font-weight: 500;
	letter-spacing: .5px;
	padding: 10px 30px;
	text-transform: none
}

.popupCardContaiener .btn .btn-secondary {
	color: #792877;
	background-color: #fff
}

img {
	max-width: 100%
}

.see-more br {
	display: none !important
}

.mjx-chtml {
	display: inline-block;
	line-height: 0;
	text-indent: 0;
	text-align: left;
	text-transform: none;
	font-style: normal;
	font-weight: 400;
	font-size: 100%;
	font-size-adjust: none;
	letter-spacing: normal;
	word-wrap: normal;
	word-spacing: normal;
	float: none;
	direction: ltr;
	max-width: none;
	max-height: none;
	min-width: 0;
	min-height: 0;
	border: 0;
	margin: 0;
	padding: 1px 0
}

.MJXc-display {
	display: block;
	text-align: center;
	margin: 1em 0;
	padding: 0
}

.mjx-chtml[tabindex]:focus,
body :focus .mjx-chtml[tabindex] {
	display: inline-table
}

.mjx-math {
	display: inline-block;
	border-collapse: separate;
	border-spacing: 0
}

.mjx-math * {
	display: inline-block;
	text-align: left
}

.mjx-denominator,
.mjx-numerator {
	display: block;
	text-align: center
}

.MJXc-stacked {
	height: 0;
	position: relative
}

.MJXc-stacked>* {
	position: absolute
}

.mjx-stack,
.MJXc-bevelled>* {
	display: inline-block
}

.mjx-op {
	display: block
}

.mjx-under {
	display: table-cell
}

.mjx-over {
	display: block
}

.mjx-over>*,
.mjx-under>* {
	padding-left: 0 !important;
	padding-right: 0 !important
}

.mjx-prestack>.mjx-presub,
.mjx-prestack>.mjx-presup,
.mjx-stack>.mjx-sub,
.mjx-stack>.mjx-sup {
	display: block
}

.mjx-delim-h>.mjx-char {
	display: inline-block
}

.mjx-surd {
	vertical-align: top
}

.mjx-mphantom * {
	visibility: hidden
}

.mjx-merror {
	background-color: #ff8;
	color: #c00;
	border: 1px solid #c00;
	padding: 2px 3px;
	font-style: normal;
	font-size: 90%
}

.mjx-annotation-xml {
	line-height: normal
}

.mjx-menclose>svg {
	fill: none;
	stroke: currentColor
}

.mjx-mlabeledtr,
.mjx-mtr {
	display: table-row
}

.mjx-mtd {
	display: table-cell;
	text-align: center
}

.mjx-label {
	display: block
}

.mjx-box {
	display: inline-block
}

.mjx-block {
	display: block
}

.mjx-span {
	display: span
}

.mjx-char {
	display: block;
	white-space: pre
}

.mjx-itable {
	display: inline-table
}

.mjx-row {
	display: table-row
}

.mjx-cell {
	display: table-cell
}

.mjx-table {
	display: table;
	width: 100%
}

.mjx-line {
	display: block;
	height: 0
}

.mjx-strut {
	width: 0;
	padding-top: 1em
}

.mjx-vsize {
	width: 0
}

.MJXc-space1 {
	margin-left: .167em
}

.MJXc-space2 {
	margin-left: .222em
}

.MJXc-space3 {
	margin-left: .278em
}

.mjx-ex-box-test {
	position: absolute;
	width: 1px;
	height: 60ex
}

.MJXc-TeX-unknown-R {
	font-family: monospace;
	font-style: normal;
	font-weight: 400
}

.MJXc-TeX-unknown-I {
	font-family: monospace;
	font-style: italic;
	font-weight: 400
}

.MJXc-TeX-unknown-B {
	font-family: monospace;
	font-style: normal;
	font-weight: 700
}

.MJXc-TeX-unknown-BI {
	font-family: monospace;
	font-style: italic;
	font-weight: 700
}

.MJXc-TeX-ams-R {
	font-family: MJXc-TeX-ams-R, MJXc-TeX-ams-Rw
}

.MJXc-TeX-cal-B {
	font-family: MJXc-TeX-cal-B, MJXc-TeX-cal-Bx, MJXc-TeX-cal-Bw
}

.MJXc-TeX-frak-R {
	font-family: MJXc-TeX-frak-R, MJXc-TeX-frak-Rw
}

.MJXc-TeX-frak-B {
	font-family: MJXc-TeX-frak-B, MJXc-TeX-frak-Bx, MJXc-TeX-frak-Bw
}

.MJXc-TeX-math-BI {
	font-family: MJXc-TeX-math-BI, MJXc-TeX-math-BIx, MJXc-TeX-math-BIw
}

.MJXc-TeX-sans-R {
	font-family: MJXc-TeX-sans-R, MJXc-TeX-sans-Rw
}

.MJXc-TeX-sans-B {
	font-family: MJXc-TeX-sans-B, MJXc-TeX-sans-Bx, MJXc-TeX-sans-Bw
}

.MJXc-TeX-sans-I {
	font-family: MJXc-TeX-sans-I, MJXc-TeX-sans-Ix, MJXc-TeX-sans-Iw
}

.MJXc-TeX-script-R {
	font-family: MJXc-TeX-script-R, MJXc-TeX-script-Rw
}

.MJXc-TeX-type-R {
	font-family: MJXc-TeX-type-R, MJXc-TeX-type-Rw
}

.MJXc-TeX-cal-R {
	font-family: MJXc-TeX-cal-R, MJXc-TeX-cal-Rw
}

.MJXc-TeX-main-B {
	font-family: MJXc-TeX-main-B, MJXc-TeX-main-Bx, MJXc-TeX-main-Bw
}

.MJXc-TeX-main-I {
	font-family: MJXc-TeX-main-I, MJXc-TeX-main-Ix, MJXc-TeX-main-Iw
}

.MJXc-TeX-main-R {
	font-family: MJXc-TeX-main-R, MJXc-TeX-main-Rw
}

.MJXc-TeX-math-I {
	font-family: MJXc-TeX-math-I, MJXc-TeX-math-Ix, MJXc-TeX-math-Iw
}

.MJXc-TeX-size1-R {
	font-family: MJXc-TeX-size1-R, MJXc-TeX-size1-Rw
}

.MJXc-TeX-size2-R {
	font-family: MJXc-TeX-size2-R, MJXc-TeX-size2-Rw
}

.MJXc-TeX-size3-R {
	font-family: MJXc-TeX-size3-R, MJXc-TeX-size3-Rw
}

.MJXc-TeX-size4-R {
	font-family: MJXc-TeX-size4-R, MJXc-TeX-size4-Rw
}

@font-face {
	font-family: MJXc-TeX-ams-R;
	src: local("MathJax_AMS"), local("MathJax_AMS-Regular")
}

@font-face {
	font-family: MJXc-TeX-ams-Rw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_AMS-Regular.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_AMS-Regular.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_AMS-Regular.otf") format("opentype")
}

@font-face {
	font-family: MJXc-TeX-cal-B;
	src: local("MathJax_Caligraphic Bold"), local("MathJax_Caligraphic-Bold")
}

@font-face {
	font-family: MJXc-TeX-cal-Bx;
	src: local("MathJax_Caligraphic");
	font-weight: 700
}

@font-face {
	font-family: MJXc-TeX-cal-Bw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Caligraphic-Bold.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Caligraphic-Bold.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Caligraphic-Bold.otf") format("opentype")
}

@font-face {
	font-family: MJXc-TeX-frak-R;
	src: local("MathJax_Fraktur"), local("MathJax_Fraktur-Regular")
}

@font-face {
	font-family: MJXc-TeX-frak-Rw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Fraktur-Regular.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Fraktur-Regular.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Fraktur-Regular.otf") format("opentype")
}

@font-face {
	font-family: MJXc-TeX-frak-B;
	src: local("MathJax_Fraktur Bold"), local("MathJax_Fraktur-Bold")
}

@font-face {
	font-family: MJXc-TeX-frak-Bx;
	src: local("MathJax_Fraktur");
	font-weight: 700
}

@font-face {
	font-family: MJXc-TeX-frak-Bw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Fraktur-Bold.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Fraktur-Bold.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Fraktur-Bold.otf") format("opentype")
}

@font-face {
	font-family: MJXc-TeX-math-BI;
	src: local("MathJax_Math BoldItalic"), local("MathJax_Math-BoldItalic")
}

@font-face {
	font-family: MJXc-TeX-math-BIx;
	src: local("MathJax_Math");
	font-weight: 700;
	font-style: italic
}

@font-face {
	font-family: MJXc-TeX-math-BIw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Math-BoldItalic.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Math-BoldItalic.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Math-BoldItalic.otf") format("opentype")
}

@font-face {
	font-family: MJXc-TeX-sans-R;
	src: local("MathJax_SansSerif"), local("MathJax_SansSerif-Regular")
}

@font-face {
	font-family: MJXc-TeX-sans-Rw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_SansSerif-Regular.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_SansSerif-Regular.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_SansSerif-Regular.otf") format("opentype")
}

@font-face {
	font-family: MJXc-TeX-sans-B;
	src: local("MathJax_SansSerif Bold"), local("MathJax_SansSerif-Bold")
}

@font-face {
	font-family: MJXc-TeX-sans-Bx;
	src: local("MathJax_SansSerif");
	font-weight: 700
}

@font-face {
	font-family: MJXc-TeX-sans-Bw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_SansSerif-Bold.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_SansSerif-Bold.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_SansSerif-Bold.otf") format("opentype")
}

@font-face {
	font-family: MJXc-TeX-sans-I;
	src: local("MathJax_SansSerif Italic"), local("MathJax_SansSerif-Italic")
}

@font-face {
	font-family: MJXc-TeX-sans-Ix;
	src: local("MathJax_SansSerif");
	font-style: italic
}

@font-face {
	font-family: MJXc-TeX-sans-Iw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_SansSerif-Italic.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_SansSerif-Italic.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_SansSerif-Italic.otf") format("opentype")
}

@font-face {
	font-family: MJXc-TeX-script-R;
	src: local("MathJax_Script"), local("MathJax_Script-Regular")
}

@font-face {
	font-family: MJXc-TeX-script-Rw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Script-Regular.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Script-Regular.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Script-Regular.otf") format("opentype")
}

@font-face {
	font-family: MJXc-TeX-type-R;
	src: local("MathJax_Typewriter"), local("MathJax_Typewriter-Regular")
}

@font-face {
	font-family: MJXc-TeX-type-Rw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Typewriter-Regular.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Typewriter-Regular.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Typewriter-Regular.otf") format("opentype")
}

@font-face {
	font-family: MJXc-TeX-cal-R;
	src: local("MathJax_Caligraphic"), local("MathJax_Caligraphic-Regular")
}

@font-face {
	font-family: MJXc-TeX-cal-Rw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Caligraphic-Regular.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Caligraphic-Regular.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Caligraphic-Regular.otf") format("opentype")
}

@font-face {
	font-family: MJXc-TeX-main-B;
	src: local("MathJax_Main Bold"), local("MathJax_Main-Bold")
}

@font-face {
	font-family: MJXc-TeX-main-Bx;
	src: local("MathJax_Main");
	font-weight: 700
}

@font-face {
	font-family: MJXc-TeX-main-Bw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Main-Bold.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Main-Bold.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Main-Bold.otf") format("opentype")
}

@font-face {
	font-family: MJXc-TeX-main-I;
	src: local("MathJax_Main Italic"), local("MathJax_Main-Italic")
}

@font-face {
	font-family: MJXc-TeX-main-Ix;
	src: local("MathJax_Main");
	font-style: italic
}

@font-face {
	font-family: MJXc-TeX-main-Iw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Main-Italic.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Main-Italic.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Main-Italic.otf") format("opentype")
}

@font-face {
	font-family: MJXc-TeX-main-R;
	src: local("MathJax_Main"), local("MathJax_Main-Regular")
}

@font-face {
	font-family: MJXc-TeX-main-Rw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Main-Regular.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Main-Regular.otf") format("opentype")
}

@font-face {
	font-family: MJXc-TeX-math-I;
	src: local("MathJax_Math Italic"), local("MathJax_Math-Italic")
}

@font-face {
	font-family: MJXc-TeX-math-Ix;
	src: local("MathJax_Math");
	font-style: italic
}

@font-face {
	font-family: MJXc-TeX-math-Iw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Math-Italic.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Math-Italic.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Math-Italic.otf") format("opentype")
}

@font-face {
	font-family: MJXc-TeX-size1-R;
	src: local("MathJax_Size1"), local("MathJax_Size1-Regular")
}

@font-face {
	font-family: MJXc-TeX-size1-Rw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Size1-Regular.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Size1-Regular.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Size1-Regular.otf") format("opentype")
}

@font-face {
	font-family: MJXc-TeX-size2-R;
	src: local("MathJax_Size2"), local("MathJax_Size2-Regular")
}

@font-face {
	font-family: MJXc-TeX-size2-Rw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Size2-Regular.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Size2-Regular.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Size2-Regular.otf") format("opentype")
}

@font-face {
	font-family: MJXc-TeX-size3-R;
	src: local("MathJax_Size3"), local("MathJax_Size3-Regular")
}

@font-face {
	font-family: MJXc-TeX-size3-Rw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Size3-Regular.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Size3-Regular.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Size3-Regular.otf") format("opentype")
}

@font-face {
	font-family: MJXc-TeX-size4-R;
	src: local("MathJax_Size4"), local("MathJax_Size4-Regular")
}

@font-face {
	font-family: MJXc-TeX-size4-Rw;
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Size4-Regular.eot");
	src: url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Size4-Regular.woff") format("woff"), url("https://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Size4-Regular.otf") format("opentype")
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif
}

.maintenance_container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100vh
}

.maintenance_title {
	font-weight: 600;
	font-size: 1.75rem;
	margin-top: 1.563rem;
	padding: 0 1rem
}

.maintenance_subtitle {
	font-weight: 400;
	font-size: 1.25rem;
	margin-top: .75rem;
	padding: 0 1rem
}

.maintenance_image {
	height: 10rem;
	width: 19.583rem
}

.app-header-subtitle {
	color: #666;
	font-family: Gotham-Book;
	font-size: .67em;
	margin-top: 24px
}

.app-header-shadow {
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
	border: 0 solid #999
}

.sparky.show {
	display: block
}

.sparky.hide {
	display: none
}

.sparky * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.sparky--overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100vh;
	width: 100vw;
	background: #000;
	opacity: .7;
	-webkit-transition: opacity 1s ease-out;
	-o-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out
}

.sparky--wrapper {
	pointer-events: all;
	display: -ms-flexbox;
	display: flex;
	gap: 20px;
	position: relative;
	z-index: 2
}

.sparky--wrapper.direction-Left {
	-ms-flex-direction: row;
	flex-direction: row
}

.sparky--wrapper.direction-Right {
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse
}

.sparky--wrapper.direction-Top {
	-ms-flex-direction: column;
	flex-direction: column
}

.sparky--wrapper.direction-Bottom {
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse
}

.sparky--wrapper img {
	position: relative;
	height: auto;
	-o-object-fit: contain;
	object-fit: contain
}

.sparky--wrapper__dialog {
	background-color: #fff;
	-webkit-box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .102);
	box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .102);
	border-radius: 12px;
	text-align: center;
	max-width: 248px;
	position: relative;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content
}

.sparky--wrapper__dialog * {
	margin: 0;
	padding: 0
}

.sparky--wrapper__dialog .messageArrow {
	position: absolute
}

.sparky--wrapper__dialog .messageArrow.Left {
	top: 45%;
	left: -20px
}

.sparky--wrapper__dialog .messageArrow.Right {
	top: 45%;
	right: -20px
}

.sparky--wrapper__dialog .messageArrow.Top {
	top: -20px;
	left: 45%
}

.sparky--wrapper__dialog .messageArrow.Bottom {
	bottom: -20px;
	left: 45%
}

.sparky--wrapper__dialog .messageArrow.BorderLeft {
	top: 45%;
	left: -24px
}

.sparky--wrapper__dialog h2 {
	font-family: RobotoMedium;
	color: #3a3a3a;
	font-size: 18px;
	margin-bottom: 8px
}

.sparky--wrapper__dialog p {
	font-family: RobotoRegular;
	color: #838383;
	font-size: 15px;
	line-height: 1.4em;
	padding: 0 14px
}

.sparky--wrapper__dialog .actions {
	margin-top: 14px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 24px;
	-ms-flex-align: center;
	align-items: center
}

.sparky--wrapper__dialog .actions.reverse {
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse
}

.sparky--wrapper__dialog .actions .actions-btn {
	border: 1px solid #7f5cf4;
	border-radius: 1000px;
	padding: 10px 20px;
	background: transparent;
	-webkit-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	font-size: 15px;
	cursor: pointer
}

.sparky--wrapper__dialog .actions .actions-btn:hover {
	background: #f1edfe
}

.sparky--wrapper__dialog .actions .btn-primary {
	border: 1px solid #7f5cf4;
	background: #7f5cf4;
	color: #fff;
	-webkit-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out
}

.sparky--wrapper__dialog .actions .btn-primary:hover {
	background: #6c4bda
}

@font-face {
	font-family: RobotoBold;
	src: url(/static/media/Roboto-Bold.17451a4c.ttf)
}

@font-face {
	font-family: RobotoMedium;
	src: url(/static/media/Roboto-Medium.58a88fef.ttf)
}

@font-face {
	font-family: RobotoRegular;
	src: url(/static/media/Roboto-Regular.6bede58e.ttf)
}

@font-face {
	font-family: RobotoLight;
	src: url(/static/media/Roboto-Light.ce61b8b6.ttf)
}

@font-face {
	font-family: LoraBold;
	src: url(/static/media/Lora-Bold.d6dab44b.ttf)
}

@font-face {
	font-family: LoraRegular;
	src: url(/static/media/Lora-Regular.52949912.ttf)
}

@font-face {
	font-family: LoraItalic;
	src: url(/static/media/Lora-Italic.24a898c7.ttf)
}

@font-face {
	font-family: Gotham-Medium;
	src: url(/static/media/Gotham-Medium.bcd733e6.otf)
}

@font-face {
	font-family: Gotham-Bold;
	src: url(/static/media/Gotham-Bold.511bff96.otf)
}

@font-face {
	font-family: Gotham-Light;
	src: url(/static/media/Gotham-Light.9cea7310.otf)
}

@font-face {
	font-family: Gotham-Book;
	src: url(/static/media/Gotham-Book.e37cf599.otf)
}

@font-face {
	font-family: Poppins-Black;
	src: url(/static/media/Poppins-Black.d8b850b9.ttf)
}

@font-face {
	font-family: Poppins-BlackItalic;
	src: url(/static/media/Poppins-BlackItalic.563eda3d.ttf)
}

@font-face {
	font-family: Poppins-Bold;
	src: url(/static/media/Poppins-Bold.cdb29a5d.ttf)
}

@font-face {
	font-family: Poppins-BoldItalic;
	src: url(/static/media/Poppins-BoldItalic.cfb635a5.ttf)
}

@font-face {
	font-family: Poppins-ExtraBold;
	src: url(/static/media/Poppins-ExtraBold.01849ee0.ttf)
}

@font-face {
	font-family: Poppins-ExtraBoldItalic;
	src: url(/static/media/Poppins-ExtraBoldItalic.73d4495b.ttf)
}

@font-face {
	font-family: Poppins-ExtraLight;
	src: url(/static/media/Poppins-ExtraLight.333cb30c.ttf)
}

@font-face {
	font-family: Poppins-ExtraLightItalic;
	src: url(/static/media/Poppins-ExtraLightItalic.dbdfd398.ttf)
}

@font-face {
	font-family: Poppins-Italic;
	src: url(/static/media/Poppins-Italic.e373f616.ttf)
}

@font-face {
	font-family: Poppins-Light;
	src: url(/static/media/Poppins-Light.7641a0f7.ttf)
}

@font-face {
	font-family: Poppins-LightItalic;
	src: url(/static/media/Poppins-LightItalic.4a7d59f8.ttf)
}

@font-face {
	font-family: Poppins-Medium;
	src: url(/static/media/Poppins-Medium.673ed423.ttf)
}

@font-face {
	font-family: Poppins-MediumItalic;
	src: url(/static/media/Poppins-MediumItalic.89e040c6.ttf)
}

@font-face {
	font-family: Poppins-Regular;
	src: url(/static/media/Poppins-Regular.35d26b78.ttf)
}

@font-face {
	font-family: Poppins-SemiBold;
	src: url(/static/media/Poppins-SemiBold.ac8d04b6.ttf)
}

@font-face {
	font-family: Poppins-SemiBoldItalic;
	src: url(/static/media/Poppins-SemiBoldItalic.3524ffc3.ttf)
}

@font-face {
	font-family: Poppins-Thin;
	src: url(/static/media/Poppins-Thin.59ff6a72.ttf)
}

@font-face {
	font-family: Poppins-ThinItalic;
	src: url(/static/media/Poppins-ThinItalic.9d5e661e.ttf)
}

@-webkit-keyframes leaves {
	0% {
		transform: scale(1);
		-webkit-transform: scale(1)
	}

	25% {
		transform: scale(.98);
		-webkit-transform: scale(.98)
	}

	to {
		transform: scale(1);
		-webkit-transform: scale(1)
	}
}

@keyframes leaves {
	0% {
		transform: scale(1);
		-webkit-transform: scale(1)
	}

	25% {
		transform: scale(.98);
		-webkit-transform: scale(.98)
	}

	to {
		transform: scale(1);
		-webkit-transform: scale(1)
	}
}

@media(min-width:340px) {
	.responseFontSize {
		font-size: 15px
	}
}

@media(min-width:1000px) {
	.responseFontSize {
		font-size: 16px
	}
}

@media(min-width:1200px) {
	.responseFontSize {
		font-size: 17px
	}
}

@media(min-width:1700px) {
	.responseFontSize {
		font-size: 18px
	}
}

/* (ignored) */
/* (ignored) */
/* (ignored) */